# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/.terraform.lock.hcl

# Logs
*.log